@model CQRSDemoFrontend.Models.User



<body>
    <div class="row">

     <div class="col-lg-9">

    <div class="carousel-item active col-lg-10">


        <div id="carouselExampleDark" class="carousel carousel-fade slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item " data-bs-interval="10000">
                    <img class="img-fluid " src="../Assets/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 style="width: 592px; text-align: left; color: #ffffff;">
                            Sed ut perspiciatis unde omnis iste natus
                            voluptatem
                        </h1>
                        <p style="height: 120px; text-align: left; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
                            Lorem ipsum
                            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="../Assets/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                         class="img-fluid " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</div>


        <div class="col-lg-3">

            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-end">
                    <div class="col-10 col-md-8 col-lg-12">
                        <form class="form-example" action="" id="loginForm" method="post">
                           
                            <div class="form-group my-2">
                                <label asp-for="Email">Email Address</label>
                                <input type="email" asp-for="Email" class="form-control my-2 mb-0" id="email" placeholder="Username"
                                       name="email">
                                <span asp-validation-for="Email" id="validEmail" class="text-danger" style="font-size:smaller"></span>
                            </div>
                            <div class="form-group my-2">
                                <label asp-for="Password">Password</label>
                                <input type="password" asp-for="Password" class="form-control my-2 mb-0" id="password" placeholder="Password"
                                       name="password">
                                <span asp-validation-for="Password" id="validPassword" class="text-danger" style="font-size:smaller;"></span>

                            </div>

                            <button type="submit" asp-controller="Home" asp-action="Index" class="btn applyButton my-2 w-100"
                                    style="border-radius: 25px;">
                                Login
                            </button>
                           

                            <div class="form-group" style="text-align: center; margin-bottom: 40px;">
                                <p style="margin-bottom: 0px;">
                                    Don't have account?
                                    <span> <a asp-action="Register" class="link-primary ">Create Account</a> </span>
                                </p>
                            </div>

                        </form>

                    </div>
                    <div class="policy">
                        <a asp-controller="Home" asp-action="Policy" class="link-secondary">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>




    </div>

</body>